---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  {
    blok.type == "desktop" && (
      <picture class="fake-browser">
        <div class="appbar">
          <span class="search-bar">{blok.fake_url}</span>
        </div>
        <div class="browser--content">
          <img
            class="screenshot"
            alt={blok.picture.alt}
            src={`${blok.picture.filename}`}
            loading="lazy" 
          />
        </div>
        <figcaption>{blok.picture.title}</figcaption>
      </picture>
    )
  }

  {
    blok.type == "mobile" && (
      <div class="fake-browser--mobile">
        <div class="appbar">
          <span class="search-bar text-small">{blok.fake_url}</span>
        </div>
        <div class="browser--content">
          <img
            class="screenshot"
            alt={blok.picture.alt}
            src={`${blok.picture.filename}`}
            loading="lazy" 
          />
        </div>
      </div>
    )
  }
</div>

<style>
  .fake-browser {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 1px solid var(--color-neutral-300);
    display: flex;
    flex-direction: column;
    border-radius: var(--r-xl);
    box-shadow: var(--shadow-xl-white);
    position: relative;

    & > figcaption {
      position: absolute;
      top: calc(100% + var(--s-sm));
      width: calc(100% - var(--r-xl) * 2);
      left: var(--r-xl);
    }

    & > .appbar {
      --scale-factor: 1.0;

      width: 100%;
      height: calc(3rem * var(--scale-factor));
      background-color: var(--color-neutral-700);
      padding: 0 calc(var(--s-md) * var(--scale-factor));
      border-top-right-radius: var(--r-md);
      border-top-left-radius: var(--r-md);
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        position: absolute;
        content: "";
        left: calc(var(--s-md) * var(--scale-factor));
        top: calc(var(--s-md) * var(--scale-factor));
        height: calc(var(--s-md) * var(--scale-factor));
        width: calc(var(--s-md) * var(--scale-factor));

        background-color: var(--color-neutral-500);
        box-shadow:
          0px 0px 0 0 var(--color-neutral-300),
          calc(var(--s-xl) * 1 * var(--scale-factor)) 0px 0 0 var(--color-neutral-300),
          calc(var(--s-xl) * 2 * var(--scale-factor)) 0px 0 0 var(--color-neutral-300);
        border-radius: 50%;
      }

      & > .search-bar {
        margin: 0 auto;
        width: 50%;
        height: calc(2rem * var(--scale-factor));

        background-color: var(--color-neutral-200);
        border-radius: var(--r-sm);

        display: flex;
        align-items: baseline;
        padding: 0 calc(var(--s-sm) * var(--scale-factor));

        color: var(--color-neutral-800);

        font-size: calc(0.889em  * var(--scale-factor));
        line-height: calc(2rem  * var(--scale-factor));

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    & > .browser--content {
      flex-grow: 1;
      position: relative;

      width: 100%;
      height: 100%;
      overflow-y: auto;
      border-bottom-left-radius: var(--r-xl);
      border-bottom-right-radius: var(--r-xl);

      & > .screenshot {
        width: 100%;
        display: block;
      }
    }
  }

  @media (width < 478px) {
    .fake-browser > .appbar {
      --scale-factor: 0.5;
    }
  }
</style>

<style>
  .fake-browser--mobile {
    margin: 0 auto;
    max-width: 320px;
    aspect-ratio: 9/18.5;
    border: var(--s-sm) solid var(--color-neutral-300);
    border-top: var(--s-3xl) solid var(--color-neutral-300);
    flex-direction: column;
    border-radius: var(--r-3xl);
    box-shadow: var(--shadow-xl-white);
    position: relative;
    height: auto;
    box-sizing: content-box;

    &::before {
      position: absolute;
      content: "";
      width: 6rem;
      height: 0.33rem;
      left: 50%;
      top: -24px;
      transform: translateX(-50%);
      background-color: var(--color-neutral-100);
      z-index: 1000;
      border-radius: 0.5rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0.33rem;
      height: 4rem;
      right: -0.99rem;
      top: 4rem;
      background-color: var(--color-neutral-300);
    }

    & > .appbar {
      width: 100%;
      height: 48px;
      background-color: var(--color-neutral-700);
      border-top-left-radius: .66rem;
      border-top-right-radius: .66rem;
      padding: 0 16px;
      position: relative;
      column-gap: 16px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: var(--color-neutral-300);
        z-index: -10;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: var(--color-neutral-300);
        z-index: -10;
        top: 0;
        right: 0;
      }

      & > .search-bar {
        margin: 0 auto;
        height: 32px;

        background-color: var(--color-neutral-200);
        border-radius: 3px;
        padding: 0 12px;
        color: var(--color-neutral-800);
        font-size: 0.8em;
        line-height: 32px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    & > .browser--content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      border-bottom-left-radius: .66rem;
      border-bottom-right-radius: .66rem;

      & > .screenshot {
        width: 100%;
        display: block;
      }
    }
  }
</style>
