---
const { blok } = Astro.props;

import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

import SectionHeader from "../components/SectionHeader.astro";
import ArticleCardGrid from "../components/ArticleCardGrid.astro";
import ArticleCard from "../components/ArticleCard.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/`, {
  version: import.meta.env.DEV ? "draft" : "published",
  per_page: blok.max_count,
  excluding_ids: blok.excluding_ids,
  excluding_slugs: blok.exluding_slugs,
  by_slugs: blok.by_slugs,
  by_uuids: blok.by_uuids,
  starts_with: blok.starts_with,
  is_startpage: !blok.exclude_startpage,
  sort_by: "first_published_at:desc"
});

console.log(data.stories)

const entries = data.stories;
---

<section class="not-prose" {...storyblokEditable(blok)}>
  <div class="full-width">
    {blok.title && <SectionHeader title={blok.title} subtitle={blok.subtitle} />}

    <ArticleCardGrid>
      {
        entries.map((item: any) => (
          <ArticleCard
            coverImageUrl={item.content?.card_foreground?.filename || item.content?.cover_image?.filename}
            coverImageAlt={item.content?.card_foreground?.alt || item.content?.cover_image?.alt}
            coverImageBackground={item.content?.card_background?.filename}
            title={item.content?.title}
            description={item.content?.excerpt}
            linkHref={`/${item.full_slug}`}
            linkText={blok.link_text}
          />
        ))
      }
    </ArticleCardGrid>
  </div>
</section>

