---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import ArticleCard from "../components/ArticleCard.astro";
import BackToHomePage from "../components/BackToHomePage.astro";
import { withWebpSupport, imageDimensions } from "../utils/storyblokUtils";
import DetailsBox from "../components/DetailsBox.astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<div class="section" {...storyblokEditable(blok)}>
  <header class="full-width">
    <!--
    <BackToHomePage text="Return to the home page" href="/" />
     -->
    <div class="header-wrapper">
      <div class="card">
        <ArticleCard className="" mainHeader={true} title={blok.title} description={blok.description} />
      </div>
      {
        blok.cover_image.filename && (
          <div class="cover-image">
            <img src={withWebpSupport(blok.cover_image.filename)} alt={blok.cover_image.alt} width={imageDimensions(blok.cover_image.filename).width} height={imageDimensions(blok.cover_image.filename).height}>
          </div>
        )
      }
    </div>
    <div class="details"><DetailsBox blok={blok} /></div>
  </header>
</div>

<div class="section">
  <div class="content">
    <div class="prose" set:html={renderedRichText} />

    <div class="multimedia">
      {blok.multimedia.map((img: any) =>
      <img loading="lazy" alt={img.alt} src={withWebpSupport(img.filename)} width={imageDimensions(img.filename).width} height={imageDimensions(img.filename).height}>
      )}
    </div>
  </div>
</div>

<style>
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    & > * {
      height: 100%;
    }
  }

  .cover-image {
    grid-column: 2 / 3;
    grid-row: span 1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .details {
    padding-top: 2rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  .multimedia {
    display: block;

    & > img {
      width: 100%;
      height: auto;
      border: 1px solid var(--color-neutral-200);
    }
  }

  /* Values from Webflow */
  /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
  @media (width < 991px) {
    .content {
      grid-template-columns: 1fr;
    }

    .multimedia {
      order: 0;
    }

    .prose {
      order: 1;
    }
  }

  @media (width < 767px) {
    .card {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  @media (width < 478px) {
    .cover-image {
      grid-column: span 2;
      grid-row: span 1;
    }

    .card {
      order: 1;
      grid-column: span 2;
    }

    .cover-image {
      order: 0;
    }
  }
</style>