---
import StoryblokImage from "./StoryblokImage.astro";

interface Props {
  coverImageUrl?: string;
  coverImageAlt?: string;

  coverImageBackground?: string;

  title: string;
  description?: string;

  linkHref?: string;
  linkText?: string;
  isLinkExternal?: string;
}

const { coverImageUrl, coverImageAlt, coverImageBackground, title, description, linkHref, linkText = "Read more", isLinkExternal } = Astro.props;
---

<div class="card" x-data=" { hover: false }">
  {
    coverImageUrl && (
      <div class="img-wrapper" x-bind:class="hover ? 'highlighted' : ''">
        { coverImageBackground &&
          <div id="card-img-bg">
            <StoryblokImage
              url={coverImageBackground}
              alt=""
              lazyload={false}
              maxWidth={256}
              fitCover={true}
            />
          }
        </div>
        <div id="card-img-fg">
          <StoryblokImage
            url={coverImageUrl}
            alt={coverImageAlt}
            lazyload={false}
            maxWidth={840}
            fitCover={true}
          />
        </div>
      </div>
    )
  }

    <div class="el">
      <h3>{title}</h3>
      {description && <p class="text-small">{description}</p>}
    </div>

    {
      linkHref && <a
            class="link"
            href={linkHref}
            @mouseover="hover = true"
            @mouseout="hover = false"
            aria-label={linkText + " about " + title}
            data-astro-prefetch
          >
            {linkText}
          </a>
      
    }
</div>

<style>
  .card {
    background-color: var(--color-neutral-200);
    grid-row: auto / span 3;

    display: grid;
    grid-template-rows: subgrid;

    margin-bottom: 1.5rem;

    .el {
      grid-row: 2 / 3;
      padding: 1.5rem 1rem;

      & > * + p {
        margin-top: .5rem;
      }

      & > p {
        color: var(--color-neutral-800);
      }
    }

    .link {
      grid-row: 3 / 4;
      padding: 1rem;
      margin-top: 1rem;
    }

    .img-wrapper {
      grid-row: 1 / 2;
      overflow: hidden;
      height: 24rem;
      position: relative;
    }
</style>

<style is:inline>
  #card-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  #card-img-fg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
</style>