---
import { withWebpSupport } from "../utils/storyblokUtils";
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
import StoryblokImage from "./StoryblokImage.astro";

interface Props {
  className?: string;

  coverImageUrl?: string;
  coverImageAlt?: string;

  title: string;
  description?: string;

  linkHref?: string;
  linkText?: string;
  isLinkExternal?: string;

  mainHeader?: boolean;
}

const { className, coverImageUrl, coverImageAlt, title, description, linkHref, linkText = "Read more", isLinkExternal, mainHeader } = Astro.props;
---

<div class:list={["card", className]} x-data=" { hover: false }">
  {
    coverImageUrl && (
      <div class="img-wrapper" :class="hover ? 'highlighted' : ''">
        <StoryblokImage
              url={coverImageUrl}
              alt={coverImageAlt}
              lazyload={false}
              maxWidth={600}
              fitCover={true}
            />
      </div>
    )
  }

    <div class="el">
      {mainHeader ? <h1>{title}</h1> : <h3>{title}</h3>}
      {description && <p class="text-small">{description}</p>}
    </div>

    {
      linkHref && (
        isLinkExternal
          ? <a
            class="link"
            href={linkHref}
            rel="noopener nofollow"
            target="_blank"
            aria-label={`${linkText} (external link: opens in a new window)`}
          >
            {linkText}
            <ExternalLinkIcon />
          </a> 

          : <a
            class="link"
            href={linkHref}
            @mouseover="hover = true"
            @mouseout="hover = false"
            aria-label={linkText + " about " + title}
          >
            {linkText}
          </a>
      )
    }
</div>

<style>
  .card {
    background-color: var(--color-neutral-200);
    grid-row: auto / span 3;

    display: grid;
    grid-template-rows: subgrid;

    margin-bottom: .5rem;

    .el {
      grid-row: 2 / 3;
      padding: 1rem;

      & > p {
        color: var(--color-neutral-800);
      }
    }

    .link {
      grid-row: 3 / 4;
      padding: 1rem;
      margin-top: 1rem;
    }

    .img-wrapper {
      grid-row: 1 / 2;
      overflow: hidden;
      height: 14rem;
    }
</style>