---
import ArticleCard from "./ArticleCard.astro";
interface Props {
  entriesList: {
    content: {
      card_background: { filename: string | undefined; alt: string | undefined };
      card_foreground: { filename: string | undefined; alt: string | undefined };
      cover_image: { filename: string | undefined; alt: string | undefined };
      title: string;
      excerpt: string | undefined;
    };
    full_slug: string | undefined;
  }[];

  linkTextDefault: string;
}

const { entriesList, linkTextDefault } = Astro.props;
---

<div class="collection-grid">
  {
    entriesList.map((entry) => (
      <ArticleCard
        coverImageUrl={entry.content?.card_foreground?.filename || entry.content?.cover_image?.filename}
        coverImageAlt={entry.content?.card_foreground?.alt || entry.content?.cover_image?.alt}
        coverImageBackground={entry.content?.card_background?.filename}
        title={entry.content?.title}
        description={entry.content?.excerpt}
        linkHref={`/${entry.full_slug}`}
        linkText={linkTextDefault}
      />
    ))
  }
</div>

<style>
  .collection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto auto;

    /* Values from Webflow */
    /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
    @media (width < 991px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (width < 478px) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }
</style>

<style is:inline>
  /* This is here and not in ArticleCard.astro, otherwise it appears N times in the code,
    one for each instance of ArticleCard.
  */
  .collection-grid > .card > .img-wrapper > div > picture > img {
    transition-property: all;
    transition-timing-function: var(--a-easeOut);
    transition-duration: var(--a-duration-fast);
    transform: perspective(500px) translateZ(0px);
  }

  .collection-grid > .card > .img-wrapper.highlighted > div#card-img-fg > picture > img {
    transform: perspective(500px) translateZ(50px);
    transition-timing-function: var(--a-easeOut);
  }

  .collection-grid > .card > .img-wrapper.highlighted > div#card-img-bg > picture > img {
    transform: perspective(500px) translateZ(10px);
    transition-timing-function: var(--a-easeOut);
  }
</style>

<script is:inline src="/gsap/minified/gsap.min.js" defer></script>
<script is:inline src="/gsap/minified/ScrollTrigger.min.js" defer></script>
<script is:inline defer>
  window.addEventListener("load", () => {
    let mm = gsap.matchMedia();

    let slowDuration = gsap.getProperty("html", "--a-gsap-slow");

    mm.add("(prefers-reduced-motion: no-preference)", () => {
      gsap.registerPlugin(ScrollTrigger);

      gsap.utils.toArray(".card").forEach((card) => {
        const q = gsap.utils.selector(card);

        gsap.fromTo(
          q(".img-wrapper #card-img-fg"),
          {
            translateY: "50%",
          },
          {
            scrollTrigger: {
              trigger: card,
              start: "top bottom",
            },
            translateY: "0%",
            duration: slowDuration,
          }
        );
      });
    });
  });
</script>
