---
import TechnologyBadge from "./TechnologyBadge.astro";

interface Props {
  blok: any;
}

const { blok } = Astro.props;
---

<div class="descriptions">
  <div class="caption-box">
    <span class="caption">Client</span>
    {blok.client}
  </div>

  <div class="caption-box">
    <span class="caption">Year</span>
    {blok.year}
  </div>

  <div class="caption-box">
    <span class="caption">Project type</span>
    {blok.project_type?.map((v: string) => <span class="project-type--value">{v}</span>)}
  </div>

  <div class="caption-box">
    <span class="caption">Technologies</span>
    <div class="tech-box text-small">
      {blok.technologies?.map((tech: any) => <TechnologyBadge name={tech.name} image={tech.content?.logo?.filename} />)}
    </div>
  </div>
</div>

<style>
  .descriptions {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 1rem;
  }

  .caption-box {
    display: block;
    margin-bottom: 0.5rem;
  }

  .caption {
    display: block;
    font-size: 0.8rem;
    letter-spacing: 0.025em;
    color: var(--color-neutral-700);
  }

  .tech-box {
    display: flex;
    column-gap: 0.5rem;
    margin-top: 0.125rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }

  .project-type--value:not(:last-child)::after {
    content: ", ";
  }

  /* Values from Webflow */
  /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
  @media (width < 991px) {
  }

  @media (width < 767px) {
  }

  @media (width < 478px) {
    .descriptions {
      grid-template-columns: 1fr;
    }
  }
</style>
