---
import { useStoryblokApi } from "@storyblok/astro";
import ExternalLinkIcon from "./ExternalLinkIcon.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});

const navbarLinks = data?.story?.content?.navbar_links;

const { "x-data": xData } = Astro.props;
---

<nav class="navbar" x-data={xData} :aria-expanded="navbarOpen" x-on:keydown.escape="navbarOpen = false" aria-label="Main navigation">
  <a class="navbar-logo" href="/">
    <svg width="114" height="30" viewBox="0 0 114 30" xmlns="http://www.w3.org/2000/svg">
      <title>Stefano Verzegnassi</title>
      <path
        style="fill: var(--color-neutral-900)"
        d="M0 17.506v-4.61l14.3-7.684v4.61l-9.877 5.245v.267L14.3 20.58v4.61L0 17.506ZM46.83 25.79c-1.906 0-3.569-.289-4.988-.868-1.396-.579-2.45-1.37-3.16-2.372l2.761-2.572a7.423 7.423 0 0 0 2.328 1.737c.909.4 1.94.601 3.093.601.975 0 1.74-.144 2.294-.434.554-.312.832-.78.832-1.403 0-.49-.189-.824-.566-1.002-.377-.2-.898-.357-1.563-.468l-2.76-.434a12.303 12.303 0 0 1-2.161-.502 5.918 5.918 0 0 1-1.73-.968c-.487-.401-.875-.891-1.164-1.47-.288-.58-.432-1.28-.432-2.105 0-1.804.687-3.218 2.062-4.243 1.374-1.024 3.303-1.536 5.786-1.536 1.685 0 3.115.233 4.29.701 1.197.446 2.15 1.091 2.86 1.938l-2.46 2.806c-.51-.557-1.165-1.024-1.963-1.403s-1.762-.568-2.893-.568c-1.907 0-2.86.579-2.86 1.737 0 .512.188.869.565 1.07.377.177.898.322 1.563.434l2.727.434c.776.111 1.497.29 2.162.534a5.386 5.386 0 0 1 1.73.936c.51.4.908.89 1.196 1.47.289.579.433 1.28.433 2.104 0 1.804-.699 3.23-2.095 4.277-1.375 1.046-3.337 1.57-5.887 1.57ZM64.044 25.39 57.89 8.15h5.188l2.228 7.383 1.63 5.747h.266l1.63-5.746L71.06 8.15h4.989L69.896 25.39h-5.852ZM99.7 20.58l9.877-5.246v-.267L99.7 9.822v-4.61l14.3 7.683v4.61L99.7 25.19v-4.61Z"
      ></path>
      <path
        style="fill: var(--color-neutral-500)"
        d="M79.361 30 90.036 0h4.423L83.784 30h-4.423ZM27.155 25.79c-1.242 0-2.14-.267-2.694-.801a2.758 2.758 0 0 1-.798-1.971v-1.17c0-.757.266-1.403.798-1.937.554-.557 1.452-.835 2.694-.835 1.241 0 2.128.278 2.66.835.554.534.832 1.18.832 1.938v1.169c0 .757-.277 1.414-.832 1.97-.532.535-1.419.803-2.66.803Z"
      ></path>
    </svg>
  </a>

  <div class="navbar-spacer"></div>
  <button
    class="navbar-button"
    @click="navbarOpen = !navbarOpen"
    :aria-expanded="navbarOpen"
    :aria-label="! navbarOpen ? 'Open Navigation Menu' : 'Close Navigation Menu'"
  >
    <span class="hamburger" :class="navbarOpen ? 'close-icon' : ''">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </span>

    <span x-text="! navbarOpen ? 'MENU' : 'CLOSE'">Menu</span>
  </button>
  <ul class="navbar-links-wrapper" :class="navbarOpen ? 'open' : ''">
    <span class="links-spacer"></span>
    {
      navbarLinks &&
        navbarLinks.map((l: any) => (
          <li>
            {l.link.linktype == "url" ? (
              <a
                href={`${l.link.url}`}
                rel="noopener nofollow"
                target="_blank"
                aria-label={l.title + "(external link: opens in a new window)"}
              >
                {l.title}
                <ExternalLinkIcon />
              </a>
            ) : (
              <a href={`/${l.link.url}`}>{l.title}</a>
            )}
          </li>
        ))
    }
    <span class="links-spacer"></span>
  </ul>
</nav>

<style>
  .navbar {
    margin: 1rem;
    display: flex;
    height: 3rem;
    align-items: center;
  }

  .navbar-logo {
    display: inline-grid;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;
    
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 10rem;
    width: 100%;
    
    & > img,
    & > svg {
      max-height: 1.25rem;
      max-width: 100%;
    }
  }

  .navbar-spacer {
    flex-grow: 1;
    height: 100%;
  }

  .navbar-button {
    max-width: 10rem;
  }

  .hamburger {
    display: block;
    position: relative;
    flex-direction: column;
    row-gap: 4px;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;

    & .hamburger-bar:nth-child(1) {
      position: absolute;
      top: 0.2rem;
    }

    & .hamburger-bar:nth-child(2) {
      position: absolute;
      top: 0.5rem;
    }

    & .hamburger-bar:nth-child(3) {
      position: absolute;
      top: 0.8rem;
    }

    &.close-icon {
      .hamburger-bar:nth-child(1) {
        transform: rotate(45deg);
        top: 0.5rem;
      }

      .hamburger-bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger-bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 0.5rem;
      }
    }

    .hamburger-bar {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--color-neutral-500);
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }

  .navbar-links-wrapper {
    display: flex;
    position: absolute;
    z-index: 100;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 4rem;
    left: -1rem;
    right: -1rem;
    width: calc(100vw + 1px);
    height: 0;

    background-color: var(--color-neutral-100);

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 333ms;

    visibility: hidden;
    overflow: auto;

    & > span.links-spacer:first-child {
    	flex: 1 1 40% ;
    }

    & > span.links-spacer:last-child {
	    flex: 1 1 60% ;
    }

    & > li {
      display: none;
      width: 100%;
      text-align: center;
      font-size: 1.52em;
      list-style-type: none;
      padding: 1rem;
    }

    & > li + li {
      padding-left: 0.5rem;
    }

    & a,
    & a:visited {
      color: var(--color-neutral-900);
      text-decoration-color: var(--color-neutral-500);
    }
    & a:hover,
    & a:visited:hover {
      color: var(--color-neutral-500);
    }
  }

  .navbar-links-wrapper.open {
    top: 4rem;
    left: 0;
    height: 100dvh;
    padding: 1rem;

    visibility: visible;

    & > li {
      display: block;
    }
  }
</style>
